<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Título de tu página</title>
    <style>
        #description {
            text-align: center;
            font-size: 16px;
            line-height: 1.6;
            margin-top: 50px; /* Ajusta el margen superior según sea necesario */
        }
    </style>
</head>
<body>
    <div id="header">
    <h1>
        <span style="font-weight:bold;">PLATINO.COM S.R.L.</span>
    </h1>

    <p>
        &#x1F4CD; Cal. Los Paujiles 285 int. C-Surquillo<br />
        Lima 34 Lima<br />
        &#x1F1F5;&#x1F1EA; Peru
    </p>

    <h1>
        <span style="font-style: italic;">Quiénes Somos: PLATINO.COM S.R.L.</span>
    </h1>

    <div id="description">
    <p>
        Es una empresa peruana que desde 2010 provee a las empresas nacionales los mejores equipos de cómputo de última tecnología, Soluciones de Conectividad y excelente Servicio Técnico.
    </p>
    <p>
        Nuestros servicios se respaldan en la amplia experiencia de nuestros profesionales, quienes son calificados en los diversos servicios que brindamos, tenemos la solución para Eventos, Conferencias, Capacitaciones, Proyectos, etc.
    </p>
    <p>
        Contamos con toda la gama de equipos informáticos que le aseguran el éxito del proyecto dando un asesoramiento técnico confiable, eficiente y servicios de alta calidad. Una de nuestras mayores preocupaciones está centrada en ofrecer un servicio oportuno, diferenciado y con valor agregado.
    </p>
    <p>
        Marcas con las que trabajamos: HP, Xerox, Fujitsu, Lexmark, Epson, Lenovo, Dell, Logitech, Microsoft. LG, Samsung, Vastec, Klip, entre otros
    </p>

        <img src="T2img1.jpg" alt="Descripción de la imagen">

</div>




</body>
</html>
