<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Título de tu página</title>
    <style>
        #description {
            text-align: center;
            font-size: 16px;
            line-height: 1.6;
            margin-top: 50px; /* Ajusta el margen superior según sea necesario */
        }
    </style>
</head>
<body>
    <div id="header">
    <h1>
        <span style="font-weight:bold;">Gusto´s.</span>
    </h1>

    <p>
        &#x1F4CD; Los Ajenjos M- E L-7. salamanca.. Lima, Lima.<br />
        &#x1F1F5;&#x1F1EA; Peru
    </p>

    <h1>
        <span style="font-style: italic;">Qué deberías conocer de Gusto´s</span>
    </h1>

    <div id="description">
    <p>
        Somos una Empresa Distribuidora de Alimentos, Bebidas y Productos afines en general,comenzamos nuestras actividades en el año de 2006.
    </p>
    <p>
        nuestros clientes son Bodegas, Panaderias Minimarkets, Licorerias, Internet, Jugerias, Gimnacios, Cafeterias y vendemos nuestros productos al por mayor
    </p>
    <p>
        Atendemos Pedidos a nivel Nacional y el Exterior
        Nuestras Lineas de Productos son: Productos Lacteos Cajamarca, Cereales y Bocaditos Gustos, Productos Integrales Proing, Stefany, Barras Energeticas Mundo Natural, Aceitunas Mil Olivos, Pretzel Juan Wimpon, Bebidas rehidratantes y energizantes Maca Blast.nuestras oficinas estan ubicadas en Los Ajenjos E-7 Salamanca Ate Vitarte y nuestro Telefono Movistar es 999991188 y nuestro correo es michaelavilaortiz@hotmail.com
    </p>
</div>
    <img src="T2img1.jpg" alt="Descripción de la imagen">





</body>
</html>
